<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../static/script.js" defer></script>
        <meta charset="UTF-8">
        <meta name="author" content="Neha Shafi">
        <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
        <meta name="description" content="MonoMuse website redesign project">
        <title>MonoMuse</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body onload="addYear()">
        <div class="container">
            <header class="header">
                <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
                <h1>Explore</h1>
            </header>
            <nav class = "nav_bar">
                <a href="../index.html">Home</a>
                <a href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="buytickets.html">Tickets</a>
            </nav>
            <main class="main">
                <h3>Mission Statement</h3>
                <p>
                    MonoMuse aims to explore the intersection between art and technology, creating a space to promote curiosity and creativity in thinking and expression. Our mission is to inspire and connect people across all ages and backgrounds to innovate and resources for exploration of their artistic expressions, making it an accessible process for all people.
                </p>
                <h3>Who We Serve</h3>
                <p>
                    MonoMuse aims to serve visitors of all ages and backgrounds. From young students to professional artists and technology enthusiasts, our exhibitions are designed to be accessible and enjoyable to all  participants in the art community.
                </p>
                <h3>Milestones</h3>
                <ul>
                    <li>2016: MonoMuse opens its doors with the exhibition on digital storytelling.</li>
                    <li>2018: Opening of the Interactive Media Lab, which allows visitors to gain hands-on experience with coding and art.</li>
                    <li>2023: Expanding to include new artistic exhibitions and galleries, highlighting showcases for international artists and promoting diverse perspectives.</li>
                </ul>
            </main>
            <figure class="main_figure">
                <img src="../static/museum.jpg" alt="MonoMuse Museum" width="600">
            </figure>
            <footer class="footer">
                <p> &copy; MonoMuse. All rights reserved.</p>
                <p id="copyYear"></p>
            </footer>
        </div>
    </body>
</html>
