<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="author" content="Neha Shafi">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body onload="addYear()">
  <div class="container">
    <header class="header">
      <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
      <h1>Tickets</h1>
    </header>
    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="buytickets.html">Tickets</a>
    </nav>
    <main class="main">
      <h2>Buy Tickets Now!</h2>
      <div class="main">
        <table>
          <thead>
            <tr>
              <th>Ticket Type</th>
              <th>Description</th>
              <th>$Price$</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Adult</td>
              <td>General admission for ages 18 and over. Under 18 free of charge.</td>
              <td>$18</td>
            </tr>
            <tr>
              <td>Student</td>
              <td>Student ID required</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>Member</td>
              <td>Member ID required</td>
              <td>$15</td>
            </tr>
          </tbody>
        </table>
      </div>  
      <figure class="main_figure"></figure>
    </main> 
  </div> 
  <footer class="footer">
    <p>&copy; MonoMuse. All rights reserved.</p>
    <p id="copyYear"></p>
  </footer>
</body>
</html>